<div class="nav-font-thin fade-in-image" style="display: flex; justify-content: center; color: #7C4FCF; padding-top: 5%;">
	<h2><strong>My</strong> Projects</h2><i class="fa-solid fa-laptop-code" style="font-size: 40px; margin-left: 15px;"></i> 
</div>

<div class="project-container fade-in-image">
	<div class="card rounded-0 shadow card-hghlght">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title" style="color: #7C4FCF">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-outline-dark project-buttons"><i class="fa-brands fa-youtube"></i> Demo</a>
			<a href="#" class="btn btn-dark project-buttons"><i class="fa-brands fa-github"></i> Code</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght">
		<%= image_tag "flipbook-design.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title" style="color: #7C4FCF">Flipbook Designs</h5>
			<p class="card-text">Designed flipbook covers using Adobe Illustrator</p>
			<a href="https://drive.google.com/drive/folders/1bvKwQI848tRxKH_8OArNLL2jpiyICN_n?usp=sharing" class="btn btn-outline-dark"><i class="fa-brands fa-google-drive"></i> Google Drive</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-outline-dark">Go somewhere</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-outline-dark">Go somewhere</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-outline-dark">Go somewhere</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-outline-dark">Go somewhere</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-outline-dark">Go somewhere</a>
		</div>
	</div>
</div>