<div class="nav-font-thin" style="display: flex; justify-content: center; color: #7C4FCF; padding-top: 5%;">
	<h2><strong>My</strong> Projects</h2><i class="fa-solid fa-laptop-code" style="font-size: 40px; margin-left: 15px;"></i> 
</div>

<div class="project-container">
	<div class="card rounded-0 shadow card-hghlght" style="width: 18rem; background-color: #F8F2FF; margin-top: 2rem;">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght" style="width: 18rem; background-color: #F8F2FF; margin-top: 2rem;">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght" style="width: 18rem; background-color: #F8F2FF; margin-top: 2rem;">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght" style="width: 18rem; background-color: #F8F2FF; margin-top: 2rem;">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght" style="width: 18rem; background-color: #F8F2FF; margin-top: 2rem;">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght" style="width: 18rem; background-color: #F8F2FF; margin-top: 2rem;">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card rounded-0 shadow card-hghlght" style="width: 18rem; background-color: #F8F2FF; margin-top: 2rem;">
		<%= image_tag "flipbook-app.png", width: 300, class: "card-img-top rounded-0" %>
		<div class="card-body border-1">
			<h5 class="card-title">Flipbook Full Stack</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</div>