<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>

  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.heyzine.com/release/jquery.pdfflipbook.3.js"></script>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>  
  <%= javascript_importmap_tags %>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light shadow-5-strong">
    <div class="container pt-3">
      <a class="navbar-brand" style="font-size: 25px;">
        <span class="nav-font-thin noselect">MI<strong class="nav-font-thin">CHAEL</strong></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-align"  id="navbarSupportedContent">
        <ul class="navbar-nav drop">
          <li class="nav-item ms-4 <%= is_active?(home_path) %>">
            <a><%= link_to "HOME", home_path, :class => "nav-link nav-font-color" %></a>
          </li>
          <li class="nav-item ms-4 <%= is_active?(about_path) %>">
            <a><%= link_to "ABOUT", about_path, :class => "nav-link nav-font-color" %></a>
          </li>
          <li class="nav-item ms-4 <%= is_active?(portfolio_path) %>">
            <a><%= link_to "PORTFOLIO", portfolio_path, :class => "nav-link nav-font-color" %></a>
          </li>
          <li class="nav-item ms-4 <%= is_active?(contact_path) %>">
            <a><%= link_to "CONTACT", contact_path, :class => "nav-link nav-font-color" %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    © 2022 Michael Refuerzo
  </footer>
</body>
</html>